@import url('https://fonts.googleapis.com/css2?family=Cabin&family=EB+Garamond&family=Exo+2:wght@500&family=Roboto+Slab&family=Rubik:wght@400;500&family=Sora:wght@500&display=swap');

body {
    background: url(https://ak.picdn.net/shutterstock/videos/15922087/thumb/1.jpg);
    color: white;
    background-attachment: fixed;
}
header {
    background-color: black;
    background-attachment: fixed;
    padding-bottom: 0.4em;
    color: rgb(222, 222, 230);
    text-align: center;
    padding-top: 0.2em;
}
.back {
    padding-left: 11em;
    padding-top: 5em;
}
.UI {
    font-size: 23px;
}
h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 57px;
}
h3 {
    font-family: Cambria;
    text-align: center;
    font-size: 25px;
}
p {
    font-family: Cambria;
    padding-right: 0.8em;
    font-size: 23px;
}
.learn-more h3 {
    font-size: 22px;
}
.points {
    font-size: 22px;
    padding-right: 0.7em;
}
.concept {
    padding-right: 23em;
        padding-left: 23em;

}
.con1 {
    background-color: white;
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    color: black;
    padding-left: 1.1em;
    padding-bottom: 1em;
}
.con2 {
    background-color: white;
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    color: black;
    padding-left: 1.1em;
    padding-bottom: 1em;
}
.con3 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
}
.con4 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
}
.con5 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
}
.con6 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
    padding-bottom:1em ;
}
.con7 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
    padding-bottom:1em ;
}
.con8 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
    padding-bottom:1em ;
}
.con9 {
    margin-top: 2em;
    padding-top: 0.1em;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 1.1em;
    padding-bottom:1em ;
}

.image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
}
.image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
.image3 {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;    
}
.image4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 50%;
      
}
.image5 {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
.image6 {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 33%;
}
.image7 {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 33%; 
}
.image8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image9 {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 53%;
}
.image10 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    height: 53%;
}
.image11 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    height: 53%;
}
.image12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    height: 53%;
}
a {
    color: red;
    text-decoration: none;
    text-transform: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
a:active {
    color: black;
  }
  
a:visited {
    color: purple;
  }
@media screen and (max-width: 1020px){
    .concept {
        padding-left: 2em;
         padding-right: 2em;
    }
    .pr {
        font-size: 20px;
    }
    .statement {
        font-size: 20px;
    }
    .points {
        font-size: 20px;
    }
    .learn-more {
        font-size: 25px;
    }
}
@media screen and (max-width: 810px) {
     .concept {
        padding-left: 2em;
         padding-right: 2em;
     }
     .head {
        font-size: 22px;
    }
    .statement {
        font-size: 19px ;
    }
    .statement h2 {
        font-size: 25px;
    }
    .pr {
        font-size: 22px;
    }
    .learn-more {
        font-size: 20px;
    }
    .points {
        padding-right: 0.5em;
    }
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 73%;
    }
    .image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 60%;
    }
    .image3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 63%;
    }
    .image4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image6 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image7 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image9 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image10 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
    .image11 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
    .image12 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
}

@media screen and (max-width: 510px) {
    .concept {
        padding-left: 2em;
         padding-right: 2em;    
    }
    h1 {
        font-size: 45px;
    }
    h3 {
        font-family: Cambria;
        text-align: center;
        font-size: 18px;
    }
    .back {
        padding-left: 3em;
        padding-top: 2em;
    }
    .statement {
        font-size: 20px;
    }
    .statement b {
        text-align: center;
        padding-right: 0.5em;       
    }

    .pr {
        font-size: 20px;
        padding-right: 0.5em;
    }
    .points {
        padding-right: 0.5em;
        font-size:19px;
    }
    .learn-more {
        font-size: 22px;
    }
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 69%;
    }
    .image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
    .image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 60%;
    }
    .image3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 68%;
    }
    .image4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image6 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 53%;
        height: 53%;
    }
    .image7 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image8 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .image9 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
    .image10 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
    .image11 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
    .image12 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
        height: 53%;
    }
}
