@import url('https://fonts.googleapis.com/css2?family=Cabin&family=EB+Garamond&family=Exo+2:wght@500&family=Roboto+Slab&family=Rubik:wght@400;500&family=Sora:wght@500&display=swap');

body {
        background: url(https://ak.picdn.net/shutterstock/videos/15922087/thumb/1.jpg);        
        background-attachment: fixed;   
}

header {
    background-color: black;
    background-attachment: fixed;
    padding-bottom: 1.4em;
    color: rgb(222, 222, 230);
    text-align: center;
    padding-top: 0.2em;
    border-bottom-style: outset;
}
.navbar-nav {
    padding: 20px;
}

.UI {
  font-family: 'Commissioner', sans-serif;
}

.UI h2 {
  font-size: 30px ; 
}

.UI h3 {
  font-size: 20px;
}

.navbar-dark {
    color: #dcdde1;

}
.nav-item {
    font-size: 70%;
    padding-top: 1em;
    background: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 7em;
    padding-right: 19em;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    background: rgb(0, 0, 255);
    color: #0e0d0d;

}
.author {
  padding-left: 23em;
  padding-top: 1em;
}
  
.paradoxes {
    /*width: auto;*/
    padding-left: 12em;
    padding-right: 30em;
  }
  .paradoxes h1 {
      font-size: 33px;
      padding-top: 1em;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
  }
  .quotes h3 {
    margin-left: 2em;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .para1 {
    margin-left: 1em;
    padding-right: 1em;
    padding-left: 3em;
    padding-top: 1em;
    background-attachment: fixed;
    background-color: white;
    color: black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
  }
  .para1 h6 {
    padding-bottom: 0.5em;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 255);

  }
  .para2 {
    margin-right: 2em;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    background-color: rgb(255, 255, 255);
    color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }
  .para2 h6 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 255);

  }
  .section1 {
    display: flex;
    padding-bottom: 2em;
  }
  .paradoxes img {
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 1);
  }
  
  .quotes {
    color: aliceblue;
    padding-right: 13em;
    padding-left: 13em;
  }
  .quotes img {
      border-top-style: solid ;
  }
  .long-title h1 {
    padding-left: 0.4em;

  }
  footer {
    border-color: #000000;
    border-top-style: double;
    background-color: #d9e4dd;
    color: #1a1919;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  span {
    color: #d32626;
  }
  footer h1 {
    font-weight: 400;
    font-family: 'Bitter', serif;
    font-size: 15px;
  }
  footer p {
    font-family: 'Bitter', serif;
    color: red;
  }
  
@media screen and (max-width: 991px) {
    .paradoxes {
      /* width:auto;*/    
      padding-left: 0em;
      padding-right: 2em;
  }
  .UI h2 {
    font-size: 30px;
  }
  .UI h3 {
    font-size: 18px ;
  }
    .nav-item {
     font-size: 9px;
     padding-top: 1em;
     background: #000000;
     font-weight: 600;
     text-transform: uppercase;
     padding-left: 9em;
     padding-right: 9em;
  }
    .navbar {
     padding: 20px;

  }
    .quotes {
     padding-right: 2em;
     padding-left: 2em;
  }
  .quotes h3 {
    font-size: 17px;
  }
    .para1 {
     background-attachment: fixed;
     margin-left: 2.4em;
     color: black;
     border-bottom-left-radius: 20px;
     border-top-left-radius: 20px;
  }
  .para h1 {
    padding-top: 0em;
  }
    .para2 {
     background-color: rgb(255, 255, 255);
     color: black;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;    
  }
  .paradoxes img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 220px;

}

  }
  @media screen and (min-width: 767px){
    .paradoxes {
       margin-left:1em ;
       margin-right: 1em;
    }
  }
  @media screen and (max-width: 767px) {
  .paradoxes {
    margin-left: 0em;
    margin-right: 2em;
  }
  .author {
    padding-top: 1em;
    padding-left: 15em;
  }
   .quotes {
    padding-right: 2em;
    padding-left: 1em;
  }
  .para1 {
    margin-left: 1.5em;
    margin-right: 0em;
   
  }
  .para1 h1 {
    font-size: 23px;
    text-align: center;
  }
  .para1 h6 {
    font-size: 12px;
  }
  .para2 {
    margin-right: 3em;

  }
  .para2 h1 {
    font-size: 23px;
    text-align: center;
  }
  .para2 h6 {
    font-size: 12px;
  }
  .paradoxes img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
  }
  footer p {
    font-size: 12px;
  }
}

  @media screen and (max-width: 479px) {
    .nav-item {
        padding-top: 0em;
        padding-bottom: 1em;
    }
    .UI h2 {
      font-size: 23px;
    }
    .UI h3 {
      font-size: 18px;
    }
    .paradoxes {
       /* width:auto;*/    
       padding-left: 1em;
       padding-right: 1em;
    }
    .author {
      padding-top: 1em;
      padding-left: 17em;
    }
    .paradoxes h1 {
      text-align: center;
        padding-top: 0em;
        padding-left: 0em;
        font-size: 22px;
        font-family: 'Exo 2', sans-serif;
    }
    .quotes {
      padding-right: 1em;
      padding-left: 1em;
      font-size: 12px;
    }
    .quotes h3 {
      padding-left: 2em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 13px;
    }
    .quotes img {
      width: 50px;
      height: 50px;
    }
    
    .para1 {
      padding-left: 2.4em;
      margin-right: 0em;
      margin-left: 1em;
    }
    h6 {
      font-size: 2px;
      text-align: center;
    }
    .para2 {
      
      padding-left: 2em;
      margin-left: 0em;
      margin-right: 0em;
      padding-bottom: 1em;
    }
    .paradoxes img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      height: 100px;
    }
    .long-title h1 {
     padding-left: 1em;

    }
    footer h1 {
      font-size: 12px;

    }
    footer p {
      font-size: 12px;
    }
    footer {
      padding-bottom: 1em;
    }
  
}
