@import url('https://fonts.googleapis.com/css2?family=Cabin&family=EB+Garamond&family=Exo+2:wght@500&family=Roboto+Slab&family=Rubik:wght@400;500&family=Sora:wght@500&display=swap');

body {
    background: url(https://ak.picdn.net/shutterstock/videos/15922087/thumb/1.jpg);        
    background-attachment: fixed;   
    color: white;
}
.back {
    padding-left: 11em;
    padding-top: 5em;
}

.calculator {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 8em;
    border-style: double;
}
button {
    margin-left: 2em;
    padding: 0.5em;
    border-radius: 20px;
    background-color: white;
    font-size: 17px;
}
h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    text-align: center;
}
input {
    margin-top: 2em;
    padding-top: 2em;
}
.text {
    font-size: 20px;
}
section {
    background: white;
    color: black;
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
    border-radius: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
p {
    font-family: Cambria;
    font-size: 15px;
}
h2 {
    font-family: Cambria;
    font-size: 20px;

}
h3 {
    font-family: Cambria;
    text-align: center;
    font-size: 17px;
}
footer {
    background: white;
    color: black;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 20px;
}
@media screen and (max-width: 1020px){
    .calculator {
        background-color: black;
        color: white;
        border-radius: 30px;
        padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 8em;
        border-style: double;
    }
    section {
        background: white;
        color: black;
        margin-top: 10em;
        margin-left: 7em;
        margin-right: 7em;
        padding-left: 2em;
        padding-top: 1em;
        padding-right: 2em;
        border-radius: 20px;
    }
    footer {
        background: white;
        color: black;
        margin-left: 7em;
        margin-right: 7em;
        margin-top: 5em;
        padding-left: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
        border-radius: 20px;
    }
}
@media screen and (max-width: 810px){
    .calculator {
        background-color: black;
        color: white;
        border-radius: 30px;
        padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 8em;
        border-style: double;
    }
    section {
        background: white;
        color: black;
        margin-top: 10em;
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 2em;
        padding-top: 1em;
        padding-right: 2em;
        border-radius: 20px;
    }
    footer {
        background: white;
        color: black;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 5em;
        padding-left: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
        border-radius: 20px;
    }
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 13px;
    }
    h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 510px) {
    .calculator {
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 2em;
    }
    h1 {
        font-size: 30px;
    }
    section {
        margin-left: 1em;
        margin-right: 1em;
    }
    footer {
        margin-left: 1em;
        margin-right: 1em;
    }
    input {
        margin-top: 1em;
        padding-top: 1em;
    }
    p {
        font-size: 13px;
    }
    h3 {
        font-size: 15px;
    }
    .points {
        font-size: 13px;
    }
}